Repository FrenkyDema/ProjectManager, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, library, ui, pages, settings, new_project, workflows, resources

.github/labeler.yml:

documentation:
  - .github/README.md

library:
  - src/lib/*

ui:
  - src/gui/*

pages:
  - src/gui/pages/*

settings:
  - src/gui/pages/settings_pages/*

new_project:
  - src/gui/pages/new_project_pages/*

workflows:
  - .github/workflows/*

resources:
  - src/resources

Update requirements.txt
  .github/requirements.txt
Labels: none

Update requirements.txt
  .github/requirements.txt
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Refactoring
  src/gui/pages/new_project_page.py
  src/main.py
Labels: pages

Refactoring
  src/gui/pages/new_project_page.py
  src/lib/project_lib.py
Labels: library, pages
